<div class="modal-dialog modal-lg">
    <div class="modal-content">
        {% if object %}
            <form role="form" action="{% url 'administrador:update_secretarias_modal' object.id %}" method="post">
        {% else %}
            <form role="form" action="{% url 'administrador:crear_secretarias_modal' %}" method="post">
        {% endif %}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h3>Crear Secretarias</h3>
            </div>
            <div class="modal-body">              
                {% csrf_token %} 
                <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12" {% if form.errors %} style="display: block;" {% else%} style="display: none;" {%endif%}  >
                    <div class="alert" style="background-color: #fff0e5;border-top: solid 3px rgba(255, 143, 4, 0.88);">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                            ×</button>                                
                        <p style="color: black;"><p>Se encontro errores al Introducir los datos</p>
                            {{ form.non_field_errors }}
                            <ul>
                                {% for field in form %}
                                    {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                                {% endfor %}
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">U.E.:</label>
                            {{form.ue}}
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">PROG.:</label>
                            {{form.prog}}
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">PROY.:</label>
                            {{form.proy}}
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">ACT.:</label>
                            {{form.act}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="control-label">DESCRIPCION.:</label>
                    {{form2.descripcion}}
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="control-label">GESTION.:</label>
                    {{form.gestion}}
                </div>
                
            </div>
            <div class="modal-footer">
                <div style="text-align: center">
                    {% if update%}                
                        <input type="submit" class="btn btn-success" name="submit" value="Actualizar Secretaria">
                    {%else%}
                        <input type="submit" class="btn btn-primary" name="submit" value="Crear Secretaria">
                    {%endif%}
                    
                    <button type="button" class="btn btn-default" onclick="return cerrar_modal()">
                            Cancelar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>