<div class="modal-dialog modal-sm">
        <div class="modal-content" style="width: 165%;">
            
            <form role="form" action="{% url 'administrador:eliminar_monto' object.id %}" method="post">  
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                   
                </div>                   
                <div class="modal-body">
                    {% csrf_token %}
                    <div style="text-align: center">
                            <h3>¿Desea eliminar la solicitud...? </h3>
                    </div>  
                    <div style="text-align: center">
                        <h2>Nombre = {{ object.Nombre }}</h2>
                        <h2>Cantidad = {{ object.Cantidad }}
                            {% if object.identificacion == 1 %}
                                Bs.
                            {%else%}
                                $
                            {%endif%}
                        </h2>
                    </div><br>                                
                    <div style="text-align: center">
                        <button class="btn btn-danger" type="submit">Sí, eliminar</button>
                        <button type="button" class="btn btn-default" onclick="return cerrar_modal()">
                                Cancelar
                        </button>
                    </div>
                    
                </div>            
            </form>
        </div>
    </div>