{% extends "base/base.html" %}

{% block title %} Lista {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    {% if messages %}
        {% for message in messages %}
            <input type = "hidden" id = "myVar" name = "variable" value = "{{message}}">
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Lista de Viaticos <small>  FECHA : {% now 'm' %}/{% now 'd' %}/{% now 'Y' %}</small> </h2>
                    
                    <div class="clearfix"></div>   
                    {% if viaticolen != 0%}       
                        <a href="{% url "viaticos:ReporteViatico" %}" target="_blank" class="btn btn-info btn-xs"><i class="fa fa-file-pdf-o"></i> PDF </a>
                        <a href="{% url "viaticos:excel" %}" class="btn btn-info btn-xs"><i class="fa fa-file-excel-o"></i> EXCEL HOY </a>                                                        
                    {%endif%}
                    {% if perms.viaticos.add_viaticodiario%}
                        <a href="{% url "viaticos:SolicitudCreate" %}" class="btn btn-info btn-xs"><i class="fa fa-plus-circle"></i> NUEVO</a>                   
                    {%endif%}                  
                    {% if via_ano %}
                        <a href="{% url "viaticos:exceltodo" %}" class="btn btn-info btn-xs"><i class="fa fa-file-excel-o"></i> Exportar a Excel {% now 'Y' %}  </a>                    
                    {%endif%}
                </div>
                {% if viatico %}
                    <div class="x_content">
                        <div >
                            <form name="some_form" method="POST">
                                {% csrf_token %}
                                <table class="table table-striped jambo_table bulk_action">
                                    <thead>
                                        <tr class="headings">
                                            <!--<th>
                                                <input type="checkbox" id="check-all">
                                            </th>-->
                                            <th class="column-title">Nombre y Apellido</th>
                                            <th class="column-title">Ci</th>
                                            <th class="column-title">Importe</th>
                                            <th class="column-title">Total a Cancelar</th>
                                            <th class="column-title">Lugar</th>
                                            <th class="column-title">N° de Control</th>
                                            <th class="column-title">Encargado</th> 
                                            <th class="column-title"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for viaticos in viatico %}
                                            <tr>
                                                <!--<th>
                                                    <input type="checkbox" id="check-all" name="viatic[]" value="{{viaticos.slug}}">
                                                </th>-->
                                                <td style="font-size: 11px;">
                                                    {% if viaticos.solicitante.nombre != None %}
                                                        {{viaticos.solicitante.nombre|upper}}
                                                    {%endif%}
                                                    {% if viaticos.solicitante.apaterno != None  %}
                                                        {{viaticos.solicitante.apaterno|upper}}
                                                    {%endif%}
                                                    {% if viaticos.solicitante.amaterno != None %}
                                                        {{viaticos.solicitante.amaterno|upper}}
                                                    {%endif%}
                                                    
                                                </td>
                                                <td>{{viaticos.solicitante.ci}}</td>     
                                                <td>{{viaticos.Monto_pagado|floatformat:2}}</td>
                                                
                                                <td>{{viaticos.totalC|floatformat:2}}</td>
                                                <td>{{viaticos.lugar}}</td>
                                                <td>{{viaticos.ncontrol}}</td>
                                                
                                                <td>{{viaticos.encargado}}</td>
                                                <td>
                                                    {% if user.is_authenticated %}                                                                                                                                                                                 
                                                        <a onclick="return abrir_modal('{% url 'viaticos:detalle_viatico' viaticos.slug %}')" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i> Ver</a>                                             
                                                        {% if perms.viaticos.delete_viaticodiario%}
                                                            {% if viaticos.cod_u == request.user.id or user.is_superuser %}                                                            
                                                                <a onclick="return abrir_modal('{% url 'viaticos:borrarviatico' viaticos.slug %}')" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Eliminar</a>                                                                                                
                                                            {% endif%}
                                                        {% endif%}
                                                        {% if perms.viaticos.change_viaticodiario%}
                                                            {% if viaticos.cod_u == request.user.id or user.is_superuser %}                                                            
                                                                <a href="{% url 'viaticos:modiviaticoclass' viaticos.slug %}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Editar</a>                                                                                                                                                     
                                                            {% endif%}
                                                        {%endif%}
                                                    {%endif%}
                                                </td>
                                            </tr>
                                        {% endfor %}                    
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                {%else%}
                    <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                        <div class="alert" style="background-color: rgba(255, 222, 222, 0.88);border-top: solid 3px rgba(255, 0, 0, 0.88)">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                ×</button>
                            <span class="glyphicon glyphicon-remove"></span> <strong style="color: black;">Error en la consulta</strong>
                            <hr class="message-inner-separator">
                            <p style="color: black;"  class="error">NO HAY VIATICOS POR EL MONENTO CON ESTA FECHA O YA FUERON EXPORTADOS</p>
                        </div>
                    </div>
                {%endif%}
            </div>
        </div>

        {% if viaticolen > 15 %}
            <div style="text-align: center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            {% if viatico.has_previous %}
                            <a href="?page={{ viatico.previous_page_number }}"><< Atras</a>
                            {% endif %}
                        </li>
                        <li class="page-item">
                            <span class="current">
                                Pagina {{ viatico.number }} de {{ viatico.paginator.num_pages }}
                            </span>
                        </li>
                        <li class="page-item">
                            {% if viatico.has_next %}
                            <a href="?page={{ viatico.next_page_number }}">Adelante >></a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
            </div> 
        {% endif %}
    </div>
    <div id="popup" class="modal fade" role="dialog"></div>
</div>
<script>
    function abrir_modal(url)
    {
            $('#popup').load(url, function()
            {
                    $(this).modal('show');
            });
            return false;
    }

    function cerrar_modal()
    {
            $('#popup').modal('hide');
            return false;
    }
</script>
{% endblock content %}
