{% extends "base/base.html" %}
{% load staticfiles %}
{% load tag_library %}
{% block title %} Crear Tipo de Viaje de Montos {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    {% if messages %}
        {% for message in messages %}
            <input type = "hidden" id = "myVar" name = "variable" value = "{{message}}">
        {% endfor %}
    {% endif %}
    <div class="container">
        <div class="">                   
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">  
                        <div class="x_title">
                            <h2>Registro de Tipo Viajante</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-10">
                                <a onclick="return abrir_modal('{% url 'administrador:crear_tipoviajante' %}')" class="btn btn-primary">
                                    Crear Tipo Viajante
                                </a>
                            </div>
                        </div>
                        <hr/>
                        <div class="x_content">
                            <div class="col-md-6 col-md-offset-3 col-sm-6 col-xs-12">
                                <table class="table table-striped jambo_table bulk_action">
                                    <thead>
                                        <tr class="headings">
                                            <th class="column-title">N°</th>
                                            <th class="column-title">TIPO VIAJANTE</th>               
                                            <th class="column-title">ACCIONES</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for s in tipo %}
                                            <tr>                                                                          
                                                <td>{{s.id}}</td>     
                                                <td>{{s.Tipo_Viajante}}</td>                                              
                                                <td>                                                                                           
                                                    <a onclick="return abrir_modal('{% url 'administrador:eliminar_tipo' s.id %}')" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Eliminar</a>                                                                                           
                                                    <a onclick="return abrir_modal('{% url 'administrador:update_tipo' s.id %}')" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Editar</a>                                                                                           
                                                </td>
                                            </tr>
                                        {% endfor %}                    
                                    </tbody>
                                </table> 
                            </div> 
                        </div>
                    </div>                                                
                </div> 
            </div>
        </div>
    </div>
    <div id="popup" class="modal fade" role="dialog">
    </div>   
</div>
        <!--<div class="">                   
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">  
                        <div class="x_title">
                            <h2>Registro de Tipo Viajante</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                               
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-10">
                                <a onclick="" class="btn btn-primary">
                                        Crear Tipo Viajante
                                </a>
                            </div>
                        </div>
                        <hr/>
                        <div class="x_content">
                            <br />
                            <form action="" method="POST"  class="form-horizontal form-label-left">
                                {% csrf_token %} 
                                <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12" {% if form.errors %} style="display: block;" {% else%} style="display: none;" {%endif%}  >
                                    <div class="alert" style="background-color: #fff0e5;border-top: solid 3px rgba(255, 143, 4, 0.88);">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                            ×</button>                                
                                        <p style="color: black;"><p>Se encontro errores al Introducir los datos</p>
                                            {{ form.non_field_errors }}
                                            <ul>
                                                {% for field in form %}
                                                    {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                                                {% endfor %}
                                            </ul>
                                        </p>
                                    </div>
                                </div>                                                                                           
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">TIPO VIAJENTE. <span class="required">*</span>
                                    </label>
                                    <div class="col-md-5 col-sm-6 col-xs-12">
                                        {{form.Tipo_Viajante}}
                                    </div>
                                </div>                               
                                <div style="text-align: center">    
                                    {% if update%}
                                        <button type="submit" class="btn btn-success">Actualizar Monto</button>
                                    {%else%}
                                        <button type="submit" class="btn btn-success">Crear Monto</button>
                                    {%endif%}                                
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
      
        
<script type="text/javascript">

    //Codigo para ahacer un modal

    function abrir_modal(url)
    {
           $('#popup').load(url, function()
           {
                   $(this).modal('show');
           });
           return false;
    }
    
    function cerrar_modal()
    {
           $('#popup').modal('hide');
           return false;
    }    
</script>
{% endblock content %}