<div class="modal-dialog modal-lg">
    <div class="modal-content" style="width: 111%;">        
        <div class="modal-header" style="padding: 10px;">
                <button type="button" class="close" data-dismiss="modal">x</button>
        </div>
        <div class="modal-body">
            <div class="x_content" style="padding: 0px">
                <div class="panel-body" style="padding: 0px;">
                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                        <div class="panel panel-primary" style="background: #f7f7f7;">
                            <div class="panel-body" style="padding: 0px;">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-xs-12">
                                        <div class="form-horizontal">               
                                            <label class="col-xs-4 control-label">Nombre :</label>
                                            <p class="form-control-static">{{viatico.solicitante.nombre|upper}}</p>  
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-xs-12">
                                        <div class="form-horizontal">               
                                            <label class="col-xs-4 control-label">Apellidos : </label>
                                            <p class="form-control-static">{{viatico.solicitante.apaterno|upper}} {{viatico.solicitante.amaterno|upper}}</p>             
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-xs-12">
                                        <div class="form-horizontal">               
                                            <label class="col-xs-4 control-label">CI :</label>
                                            <p class="form-control-static">{{viatico.solicitante.ci}}</p>  
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-xs-12">
                                        <div class="form-horizontal">               
                                            <label class="col-xs-4 control-label">Area : </label>
                                            <p class="form-control-static">{{viatico.solicitante.secretaria.nombreS}}</p>             
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>     
                <div class="clearfix"></div>
                <div class="ln_solid" style="margin: 5px 0;border-top: 1px solid #e5e5e5;"></div>           
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                        <div class="" style="background: #f7f7f7;">                            
                            <div class="col-md-2 col-sm-2 col-xs-3">
                                <div class="form-group">
                                    <label class="control-label" for="email">U.E.</label>
                                    {% if viatico.ue < 10 %}
                                        <input id="date" name="date" type="text" value="0{{viatico.ue}}" disabled class="input form-control">
                                    {%else%}
                                        <input id="date" name="date" type="text" value="{{viatico.ue}}" disabled class="input form-control">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-3">
                                <div class="form-group">
                                    <label class="control-label" for="date">PROG.</label>
                                    {% if viatico.prog < 10 %}
                                        <input id="date" name="date" type="text" value="0{{viatico.prog}}" disabled class="input form-control">
                                    {%else%}
                                        <input id="date" name="date" type="text" value="{{viatico.prog}}" disabled class="input form-control">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-3">
                                <div class="form-group">
                                    <label class="control-label" for="date">PROY.</label>
                                    {% if viatico.proy != None %}
                                        {% if viatico.act < 10 %}
                                            <input id="date" name="date" type="text" value="0{{viatico.proy}}" disabled class="input form-control">
                                        {%else%}
                                            <input id="date" name="date" type="text" value="{{viatico.proy}}" disabled class="input form-control">
                                        {% endif %}
                                    {% else %}
                                        <input id="date" name="date" type="text" value="" disabled class="input form-control">    
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-3">
                                <div class="form-group">
                                    <label class="control-label" for="date">ACT.</label>
                                    {% if viatico.act < 10 %}
                                        <input id="date" name="date" type="text" value="0{{viatico.act}}" disabled class="input form-control">
                                    {%else%}
                                    <input id="date" name="date" type="text" value="{{viatico.act}}" disabled class="input form-control">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-6">
                                <div class="form-group">
                                    <label class="control-label" for="date">N. DE CONTROL.</label>
                                    <input id="date" name="date" type="text" value="{{viatico.ncontrol}}"  disabled class="input form-control">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-6">
                                <div class="form-group">
                                    <label class="control-label" for="date">N. DE CENTRA.</label>
                                    <input id="date" name="date" type="text" value="{{viatico.centralizador}}"  disabled class="input form-control">
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>                  
                {% if valor %}
                    <div class="clearfix"></div>
                    <div class="ln_solid" style="margin: 10px 0;border-top: 1px solid #e5e5e5;"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 ">
                            <div >
                                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                        {% if otrosviajes %}
                                            <li role="presentation" ><a href="#detalle_urbana1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">DETALLE URBANA</a></li>
                                        {% endif%}
                                        {% if otros_rural %}
                                            <li role="presentation"><a href="#detalle_rural2" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">DETALLE RURAL</a></li>
                                        {% endif%}
                                        {% if otros_frontera %}
                                            <li role="presentation" ><a href="#detalle_frontera3" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">DETALLE FRONTERA</a></li>
                                        {% endif%}
                                    </ul>
                                    <div id="myTabContent" class="tab-content">

                                        {% if otrosviajes %}
                                            <div role="tabpanel" class="tab-pane fade " id="detalle_urbana1" aria-labelledby="home-tab">                                                
                                                {% for p in otrosviajes%}                                                
                                                    <div class="col-md-2 col-sm-3 col-xs-4">
                                                        <div class="form-group">
                                                            <label class="control-label" for="email">Fecha Salida</label>                                                    
                                                            <input id="date" name="date" type="text" value="{{p.fecha_inicial|date:'d-m-Y'}}" disabled class="input form-control">                                                    
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 col-sm-3 col-xs-4">
                                                        <div class="form-group">
                                                            <label class="control-label" for="email">Fecha Llegada</label>                                                    
                                                            <input id="date" name="date" type="text" value="{{p.fecha_llegada|date:'d-m-Y'}}" disabled class="input form-control">                                                    
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 col-sm-3 col-xs-4">
                                                        <div class="form-group">
                                                            <label class="control-label" for="date">Hora Salida</label>                                                    
                                                            <input id="date" name="date" type="text" value="{{p.hora_salida}}" disabled class="input form-control">                                                        
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 col-sm-3 col-xs-3">
                                                        <div class="form-group">
                                                            <label class="control-label" for="date">Hora Llegada</label>                                                    
                                                            <input id="date" name="date" type="text" value="{{p.hora_llegada}}" disabled class="input form-control">                                                        
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 col-sm-6 col-xs-5">
                                                        <div class="form-group">
                                                            <label class="control-label" for="date">Lugar</label>
                                                            <input id="date" name="date" type="text" value="{{p.lugar}}"  disabled class="input form-control">
                                                        </div>
                                                    </div>
                                                 
                                                    <div class="col-md-2 col-sm-6 col-xs-4">
                                                        <div class="form-group">
                                                            <label class="control-label" for="date">Calculo tiempo</label>
                                                            <input id="date" name="date" type="text" value="{{p.tiempo}}"  disabled class="input form-control">
                                                        </div>
                                                    </div>
                                                {%endfor%}
                                            </div>
                                        {%endif%}
                                        {% if otros_rural %}
                                            <div role="tabpanel" class="tab-pane fade" id="detalle_rural2" aria-labelledby="home-tab">                                                
                                                {% for p in otros_rural%}                                                 
                                                    <div class="col-md-2 col-sm-3 col-xs-4">
                                                        <div class="form-group">
                                                            <label class="control-label" for="email">Fecha Salida</label>                                                    
                                                            <input id="date" name="date" type="text" value="{{p.fecha_inicial|date:'d-m-Y'}}" disabled class="input form-control">                                                    
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 col-sm-3 col-xs-4">
                                                        <div class="form-group">
                                                            <label class="control-label" for="email">Fecha Llegada</label>                                                    
                                                            <input id="date" name="date" type="text" value="{{p.fecha_llegada|date:'d-m-Y'}}" disabled class="input form-control">                                                    
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 col-sm-3 col-xs-4">
                                                        <div class="form-group">
                                                            <label class="control-label" for="date">Hora Salida</label>                                                    
                                                            <input id="date" name="date" type="text" value="{{p.hora_salida}}" disabled class="input form-control">                                                        
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 col-sm-3 col-xs-3">
                                                        <div class="form-group">
                                                            <label class="control-label" for="date">Hora Llegada</label>                                                    
                                                            <input id="date" name="date" type="text" value="{{p.hora_llegada}}" disabled class="input form-control">                                                        
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 col-sm-6 col-xs-5">
                                                        <div class="form-group">
                                                            <label class="control-label" for="date">Lugar</label>
                                                            <input id="date" name="date" type="text" value="{{p.lugar}}"  disabled class="input form-control">
                                                        </div>
                                                    </div>
                                                
                                                    <div class="col-md-2 col-sm-6 col-xs-4">
                                                        <div class="form-group">
                                                            <label class="control-label" for="date">Calculo tiempo</label>
                                                            <input id="date" name="date" type="text" value="{{p.tiempo}}"  disabled class="input form-control">
                                                        </div>
                                                    </div>
                                                {%endfor%}
                                            </div>
                                        {%endif%}
                                        {% if otros_frontera %}
                                            <div role="tabpanel" class="tab-pane fade" id="detalle_frontera3" aria-labelledby="home-tab">                                                
                                                {% for p in otros_frontera%}                                                
                                                    <div class="col-md-2 col-sm-3 col-xs-4">
                                                        <div class="form-group">
                                                            <label class="control-label" for="email">Fecha Salida</label>                                                    
                                                            <input id="date" name="date" type="text" value="{{p.fecha_inicial|date:'d-m-Y'}}" disabled class="input form-control">                                                    
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 col-sm-3 col-xs-4">
                                                        <div class="form-group">
                                                            <label class="control-label" for="email">Fecha Llegada</label>                                                    
                                                            <input id="date" name="date" type="text" value="{{p.fecha_llegada|date:'d-m-Y'}}" disabled class="input form-control">                                                    
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 col-sm-3 col-xs-4">
                                                        <div class="form-group">
                                                            <label class="control-label" for="date">Hora Salida</label>                                                    
                                                            <input id="date" name="date" type="text" value="{{p.hora_salida}}" disabled class="input form-control">                                                        
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 col-sm-3 col-xs-3">
                                                        <div class="form-group">
                                                            <label class="control-label" for="date">Hora Llegada</label>                                                    
                                                            <input id="date" name="date" type="text" value="{{p.hora_llegada}}" disabled class="input form-control">                                                        
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 col-sm-6 col-xs-5">
                                                        <div class="form-group">
                                                            <label class="control-label" for="date">Lugar</label>
                                                            <input id="date" name="date" type="text" value="{{p.lugar}}"  disabled class="input form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 col-sm-6 col-xs-4">
                                                        <div class="form-group">
                                                            <label class="control-label" for="date">Calculo tiempo</label>
                                                            <input id="date" name="date" type="text" value="{{p.tiempo}}"  disabled class="input form-control">
                                                        </div>
                                                    </div>
                                                {%endfor%}
                                            </div>
                                        {%endif%}
                                                                             
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif%}
                <div class="clearfix"></div>
                <div class="ln_solid" style="margin: 10px 0;border-top: 1px solid #e5e5e5;"></div>
                <div class="row">                   
                    <div class="col-md-12 col-sm-12 col-xs-12  ">                                                                            
                        <div class="col-md-1 col-sm-2 col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="date">Pasaje</label>
                                <input id="date" name="date" type="text" value="{{viatico.pasaje|floatformat:2}}" disabled class="input form-control">
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-2 col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="date">Peaje</label>
                                <input id="date" name="date" type="text" value="{{viatico.peaje|floatformat:2}}" disabled class="input form-control">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="date">Lugar</label>
                                <input id="date" name="date" type="text" value="{{viatico.lugar}}" disabled class="input form-control">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-3 ">
                            <div class="form-group">
                                <label class="control-label" for="email">Importe.</label>
                                <input id="email" name="email" type="text" value="{{viatico.Monto_pagado|floatformat:2}}" disabled class="input form-control">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-3">
                            <div class="form-group">
                                <label class="control-label" for="email">RC-IVA.</label>
                                <input id="email" name="email" type="text" value="{{viatico.RC_IVA|floatformat:2}}" disabled class="input form-control">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4 ">
                            <div class="form-group">
                                <label class="control-label" for="email">Liquido Pag.</label>
                                <input id="email" name="email" type="text" value="{{viatico.Liquido_pagable|floatformat:2}}" disabled class="input form-control">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-5 ">
                            <div class="form-group">
                                <label class="control-label" for="email">Total Cancelar</label>
                                <input id="email" name="email" type="text" value="{{viatico.totalC|floatformat:2}}" disabled class="input form-control">
                            </div>
                        </div>                                  
                    </div>                  
                </div>
                <div class="clearfix"></div>
                <div class="ln_solid" style="margin: 10px 0;border-top: 1px solid #e5e5e5;"></div>
                <div class="row">                
                    <div class="col-md-12 col-sm-12 col-xs-12  ">                      
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="form-group">
                                <label class="control-label" for="date">Fecha Salida.</label>
                                <input id="date" name="date" type="text" value="{{viatico.fecha_salida|date:'d-m-Y'}}" disabled class="input form-control">
                            </div>
                        </div>                        
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="form-group">
                                <label class="control-label" for="date">Fecha Llegada.</label>
                                <input id="date" name="date" type="text" value="{{viatico.fecha_legada|date:'d-m-Y'}}" disabled class="input form-control">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="form-group">
                                <label class="control-label" for="date">Hora Salida.</label>
                                <input id="date" name="date" type="text" value="{{viatico.horaSalida|time:"H:i"}}" disabled  class="input form-control">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="form-group">
                                <label class="control-label" for="date">Hora Llegada.</label>
                                <input id="date" name="date" type="text" value="{{viatico.horallegada|time:"H:i"}}" disabled class="input form-control">
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-2 col-xs-5">
                            <div class="form-group">
                                <label class="control-label" for="date">Calculo de Tiempo.</label>
                                <input id="date" name="date" type="text" value="{{viatico.calculohora}}" disabled class="input form-control">
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-2">
                            <div class="form-group">
                                <label class="control-label" for="date">Dias.</label>
                                <input id="date" name="date" type="text" value="{{viatico.dias}}" disabled class="input form-control">
                            </div>
                        </div>                                        
                        <div class="col-md-3 col-xs-5">
                            <div class="form-group">
                                <label class="control-label" for="date">Calculo de Viaje.</label>
                                <input id="date" name="date" type="text" value="{{viatico.fechav}}"  disabled class="input form-control">
                            </div>
                        </div>                                            
                    </div>                      
                </div>
               
            </div> 
        </div>
        <div class="modal-footer" style="border-top: none">
            <div style="text-align: center">
                <button type="button" class="btn btn-primary" onclick="return cerrar_modal()">
                        Cancelar
                </button>
            </div>
        </div>
    </div>
</div>
    